<footer class="footer-box">
  <a class="ftr" href="mailto:kyle.mueller.custom.pcs@gmail.com?subject=Kyle%20Mueller%20Custom%20PCs">Contact</a>
  <a class="ftr" href="https://www.instagram.com/thecodingaudiophile/">Instagram</a>
  <a class="ftr" href="https://offerup.com/p/58215595/">OfferUp</a>
</footer>
<script src="/js/main.js"></script>
</body>

</html>