<header>
  <h1 class="centered">Kyle Mueller Custom PCs</h1>
  <img src="https://mueller14003.github.io/kyle-mueller-custom-computers/media/images/banner.jpg" alt="banner" class="constrained">
  <%- include('../includes/navigation.ejs') %>
</header>