<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/header.ejs') %>
    <main class="centered">
        <h1 class="user-message user-message--error">Some error occurred!</h1>
        <br>
        <p>We're working on fixing this, sorry for the inconvenience!</p>
        <br>
        <button type="button" class="btn" onclick="history.back()">Go Back</button>
    </main>

<%- include('includes/end.ejs') %>