@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  color: #f2f2f2;
  background: #282C34;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  position: relative;
}

body a {
  color: #809fff;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

hr {
  color: #1a1c22;
  background-color: #1a1c22;
  height: 1px;
  border: none;
}

.intro {
  background-color: #1a1c22;
  text-align: center;
  padding: 20px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.link {
  color: #426ab2;
}

.cart-list {
  list-style: none;
  display: inline;
  vertical-align: middle;
  max-width: 90%;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40rem;
  max-width: 90%;
}

.cart-item {
  height: 4em;
  background: #1a1c22;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0em;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.cart-item:hover {
  background: #5d5f66;
}

.cart-text {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  margin: 0;
  text-decoration: none;
  color: #f2f2f2;
}

.constrained-height {
  height: 4em;
  width: auto;
  padding: 0em 1em;
}

.constrained {
  height: auto;
  max-width: 100%;
}

.centered {
  text-align: center;
}

.main-header {
  height: 100%;
  background-color: #1a1c22;
  overflow: hidden;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0.8em 0;
  padding: 0px;

}

.main-header__item a {
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  margin: 0;
}

.main-header__item a:hover {
  background-color: #ddd;
  color: black;
}

.main-header__item a:active,
.main-header__item a.active {
  background-color:#d86561;
  color: black;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: #ddd;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:hover {
  background: #282C34;
  color: #f2f2f2;
  border-radius: 3px;
}

.mobile-nav__item a:active,
.mobile-nav__item a.active {
  background: #d86561;
  color: black;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active {
  background-color:#d86561;
  color: black;
}

#side-menu-toggle:hover {
  background-color: #ddd;
  color: black;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #282C34;
  color: #282C34;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  border: 1px solid #d86561;
  background-color: #d86561;
  color: white;
}

@media (min-width: 1260px) {
  body {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
